
/* shared styles */

.display-flex{
    display: flex;
}
.color-primary{
    color: #3A3A3A;
}

/* navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
    margin: 50px 120px;
}
.navbar h3{
    font-size: 1.5rem;
    font-weight: bold;
}
.sidebar{
   margin-right: 34px;
}
.navbar a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

/* Banner section */

.banner{
    justify-content: space-between;
    align-items: center;
    margin: 100px 135px;
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 450px;
    min-height: 500px;  
}
.banner img {
    max-width: 400px;
    position: relative;
    z-index: 2;
}
.banner-tittle{
    font-size: 3.25rem;
    font-weight: bold;
    margin-bottom: 16px;
}
.banner-text{
    font-size: 1rem;
    font-weight: 600;
}
.banner-btn{
    background-color: #E02C6D;
    color: #FFFFFF;
    border-radius: 41px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 24px;
    margin-top: 16px;
}


/* responsive for small device */

@media screen and (max-width:576px) {
    .navbar{
        flex-direction: column;
        text-align: center;
        
    }
    .menubar{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        text-align: center;
    } 
    .banner{
        flex-direction: column-reverse;
        margin: 0 auto;
        background-position: top;
        gap: 40px;
        text-align: center;
    }   
    .banner img{
        width: 100%;
    }
    
}