
/* shared styles */

.display-flex{
    display: flex;
}
.color-primary{
    color: #3A3A3A;
}

/* navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
    margin: 50px 120px;
}
.navbar h3{
    font-size: 1.5rem;
    font-weight: bold;
}
.sidebar{
   margin-right: 34px;
}
.navbar a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}


/* responsive for small device */

@media screen and (max-width:576px) {
    .navbar{
        flex-direction: column;
        text-align: center;
        
    }
    .menubar{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        text-align: center;
    }    
}